{% extends 'award/base.html' %}
{% load bootstrap4 %}
{% load static %}

{% block content%}

<div class="container-fluid">

    <div class="row">
        {% for project in projects %}
        <div class="col-md-6 mb-4 ">
            <div class="card">
                <img class="card-img-top" height="500px" src="{{project.screenshot.url}}" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text"><strong>Title : </strong>{{project.title}}</p>
                    <p class="card-text"><strong>Description : </strong>{{project.description}}</p>
                    <p class="card-text"><strong>Designed By</strong>: {{project.user}}</p>

                    <a href="{% url 'project-detail' project.pk %}">Review project</a>

                    <a class="float-right" href="{{ project.url }}" target="_blank">View Site</a>
                    

                </div>
            </div>
        </div>
        {% endfor %}
    </div>

</div>

{% endblock content %}